{% extends 'createTeams/base.html' %}
{% load static %}
{% block title %}<title>Create Team</title>{% endblock title %}
{% block main-content %}
<div class="wrapper fadeInDown" style="padding-top:10%;">
    <div id="formContent" style="box-shadow:  -3px -2px 1px 0 #f1ecec,-4px -2px 20px 0 rgb(80, 88, 94); ">
    <h1 style="color: white"> Edit Team </h1>
  <form method="post" >
    {% csrf_token %}
    <input type="text" id="team_name" name="team_name" class = "fadeIn second" placeholder="Team Name" value = "{{org.name}}" required /><br />
    <textarea
      name="description"
      id="description"
      cols="30"
      rows="5"
      class = "fadeIn second"
    > {{org.description}}</textarea> <br />
    <label for="team_members" style="color: white; font-size: 25px">Team members:</label><br />
    <div id="team_members" multiple="true" name="checks" style="color:black; font-size: 18px"></div>
    <br />
    <input type="submit" class = "fadeIn" value="Edit team"><br />
    
    {% if warning%} {{warning}} {% endif %}
  </form>
  <a href=""><button class="fade in" style="background-color: black;">Status to admin</button></a>
    <a href=""><button class="fade in">Status to participant</button></a>
  </div>
  </div>
  <script>
    var ids = [];
    var names = [];
    var admin = [];
    var user_id="{{user.id}}";
    ("{% for membership in memberships %}");
    /*ids.push("{{membership.user.id}}");
    names.push("{{membership.user}}");
    admin.push("{{membership.role}}");*/
    ids.push("{{membership.id}}");
    names.push("{{membership.username}}");
    admin.push("{{membership.role}}");
    console.log(ids);
    console.log(names);
    ("{% endfor %}");
  </script>
  <script src="{% static 'js/create_team.js' %}"></script>
{% endblock main-content %}